@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

a{
	color: white;
	text-decoration-line: none;
}

body{
	font-size: 16px;
	font-family: 'Open Sans', sans-serfif;
	background: #3333EE;
	color: white;
}

blockquote:before{
	color: rgba(255,255,255, 0.5);
	content: '"';
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
	font-size: 7em;
	position: absolute;
	left: 0em;
	top: -.3em;
}


blockquote:after{
	color: rgba(255,255,255, 0.5);
	content: '"';
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
	font-size: 7em;
	position: absolute;
	right: .5em;
	top: -.3em;
}


footer{
	background: url("../images/bg.jpg") no-repeat;
	background-size: cover;
	background-position: bottom;
	padding: 2em 5em 3em 5em;
}

h1{
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 3.5em;
	text-align: center;
	text-shadow: black .07em .07em .1em;
}

header{
	background: url("../images/bg.jpg") no-repeat;
	background-size: cover;
	/*filter: blur(1px);*/
	padding: 2em 5em 3em 5em;
}

section{
	background: white;
	color: #333;
	padding: 3em 7em;
	box-shadow: .3em .2em 1.5em black;
}

.ask-section{
	border: solid #BBB .2em;
	border-radius: .7em;
	background: #EEE;
	padding: .5em 1em;
	margin: 1em 0em;
}

.dark-link {
	color: #44E;
}

.btn-cta{
	background: #09C;
	border: none;
	border-radius: .2em;
	box-shadow: .05em .05em .5em black;
	color: white;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1.5em;
	padding: .7em 2.2em;
}

.btn-cta:hover{
		animation: attention 3s linear;
}

.center {
	text-align: center;
}

.container-btn-cta{
	text-align: center;
}

.description{
	background: rgba(20,20,20,0.6);
	padding: 1em 2em;
	border-radius: .5em;
}

.inline {
	display: inline-block;
}

.project-item {
	border-left: 3px solid #7AF;
	padding: 0 1em;
	margin: 1em 0;
}

.verse{
	position: relative;
	margin-bottom: 4em;
}

.verse blockquote{

}

.verse blockquote cite{
	font-size: 1.2em;
	position: absolute;
	bottom: -1em;
	right: 7em;
}

.verse blockquote p{
	font-size: 2em;
}

.verse blockquote p, .verse blockquote cite{
	text-shadow: .1em .1em .1em black;
}

@keyframes attention{
	10%{
		transform: scale(.90);
	}
	15%{
		transform: scale(1.05)
	}
	20%{
		transform: scale(0.95)
	}
	25%{
		transform: scale(1.03)
	}
	30%{
		transform: scale(1);
	}
}
